<div style="padding-bottom: 200px">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h1 data-cy="loginTitle">Đăng nhập</h1>
      <div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError">
        <strong>Đăng nhập thất bại!</strong> Vui lòng kiểm tra lại thông tin đăng nhập!
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-group">
          <label class="username-label" for="username">Tên tài khoản</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Your username"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Your password"
            formControlName="password"
            data-cy="password"
          />
        </div>
        <button style="margin-bottom: 15px"
          type="submit" class="btn btn-primary" data-cy="submit">Đăng nhập</button>
        <br>
        <button type="button" class="btn btn-primary" (click)="loginKeycloak()">Đăng nhập bằng tài khoản UET </button>
      </form>

    </div>
  </div>
</div>
